<div id="<%= dom_id category %>" class="card-category">
    <div>
      <%= image_tag (category.icon), class:"cat-img"%>
    </div>

    <div>
      <h2>
        <%= category.name %>
      </h2>
      <p class="date">
        <%= category.created_at.strftime("%B %d %Y, %l:%M%P") %>
      </p>
    </div>
    <div>
      <p>Category total: <%= category_total(category) %></p>
    </div>

</div>
