<div id="<%= dom_id category %>" class="card-category">
  <div>
    <%= image_tag (category.icon), class:"cat-img"%>
  </div>

  <p>
    <%= category.name %>
  </p>

  <div>
    <p>Category total: <%= category_total(category) %></p>
    <div>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= button_to "Delete", category, method: :delete %>
    </div>
  </div>

</div>
