<p style="color: green"><%= notice %></p>

<h1>Category: <%= @category.name %></h1>
<p><%= @total_expenses %></p>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
     
  <% end %>
</div>

  <%= button_to "Delete", @category, method: :delete %>

<%= link_to "New expense", new_expense_path %> |
<%= link_to "Back to categories", categories_path %>
