<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseKeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="name" property="og:image" content="https://raw.githubusercontent.com/nicupop729/expense-keeper/dev/app/assets/images/app-1.png"/>
    <meta name="description" property="og:description" content="ExpenseKeeper is an app built with Ruby on Rails using the MVC architecture. The app allows users to track their expenses while grouping them into categories."/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header blue-colour">
      <h3 class="logo"><%= link_to "ExpenseKeeper", categories_path, class: "logo_title" %></h3>
      <div class="header_auth">
        <% if current_user %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'Log In', new_user_session_path %>
            <%= link_to 'Sign Up',  new_user_registration_path %>
        <% end %>
      </div>
    </header>
  
    <%= yield %>
   
  </body>
</html>
